
/* 
    Created on : 2 feb. 2022, 18:47:01
    Author     : Hewlett Packard
*/

.container{
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position:relative;
}


.navbar{
    height:15vh ;
    width: 100%;
    margin: auto;
    display:flex;
    align-items: center;

}


nav{
 flex: 1;
 padding-left: 60px;
    
}

nav ul li{
  display: inline-block;
list-style: none;
margin: 0px 20px;
    
}
nav ul li a{
text-decoration: none;
color: #009999;

}


.content{
    margin-top: 10%;
    margin-left: 10%;
}

.content p{
    font-size: 20px;
    color: #660066;
    
}

.content h1{
 font-size: 60px;   
 font-weight: 100;
 margin-top: 24px;
 margin-bottom: 15px;
 color: cornflowerblue;
 
}
.arrow-icons{
 margin-top: 40px;
 display: flex;
 
    
}
.arrow-icons img{
width: 80px;
 margin-right: 35px;
 
}
.gall{
 height: 50%;
 position: absolute;
 bottom: 50px;
 right: 160px;
    
}