<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head">
        <title>Crear</title>
    </head>
    <body>
        <header th:replace="plantilla/template::header"></header>
        <h1>Datos de la Persona</h1>
        <form th:object="${persona}"
              th:action="@{/save}"
              method="POST"
              >  
            <div class="container"> 
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" th:field="*{nombre}" placeholder="Nombre Persona" name="nombre" class="form-control"/>
                </div>

                <div class="mb-3">
                    <label for="apellido1" class="form-label">Apellido 1:</label>
                    <input type="text" th:field="*{apellido1}" placeholder="Apellido 1" name="apellido1" class="form-control"/>
                </div>

                <div class="mb-3">
                    <label for="apellido2" class="form-label">Apellido 2:</label>
                    <input type="text" th:field="*{apellido2}" placeholder="Apellido 2" name="apellido2" class="form-control"/>
                </div>

                <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono:</label>
                    <input type="text" th:field="*{telefono}" placeholder="Telefono" name="telefono" class="form-control"/>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" th:field="*{email}" placeholder="Email" name="email" class="form-control" aria-describedby="emailHelp"/>
                    <div id="emailHelp" class="form-text">Nunca compartiremos el Email.</div>
                </div>


                <div>
                    <label for="pais">Pais:</label>
                    <select th:field="*{pais}" class="form-select">
                        <option th:each="x:${paises}"
                                th:value="${x.id}"
                                th:text="${x.pais}"/>
                    </select>
                </div>
                <input type="hidden" th:field="*{id}"/>
                <button type="submit" value="guardar" class="btn btn-primary"> Guardar </button>

        </form>
    </div>
    <footer th:replace="plantilla/template::footer"></footer> 
</body>
</html>
