


<html>
    <head>
        <title>Shop login</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <div class="login">
                    <div class="login-header">
                        <h1>Welcome</h1>
                    </div>
                </div>
                <form method="post">
                    <div class="txt_field"> 
                        <input type="text" required>
                        <label>Username</label>
                    </div>
                    <div class="txt_field"> 
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <input type="submit" value="Login">
                    <div class="signup_link"> 
                        Not a member? <a href="">Signup</a>
                    </div>
                </form>  
            </div>
        </div>
    </body>
</html>
